@font-face {
    font-family: 'Alfa Slab One', cursive;
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}
body{
    padding:0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.site-section {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #f6ffff;

}

ul {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
    top: 45%;
    left: .1rem;
    transform: translateY(-50%);
}
ul li {
    list-style: none;

}

ul li a {
    padding: 0 10px;
    background-color: white;
    color: black;
    display: block;
    line-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    margin: .1rem 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
ul li a:hover {
    background-color: #272727;
    color: white;

}

#sec-one {
    background: antiquewhite url("https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") no-repeat center/cover;
}
#sec-two {
    background: maroon;
}
#sec-three {
    background: blue;
}#sec-four {
    background: yellowgreen;
}#sec-five {
    background: plum;
}#sec-six {
    background: green;
}

.titles {

    font-family: "Alfa Slab One";
}
#logos img {
    /*position: relative;*/
    /*height: 10rem;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-self: center;*/
    height: 6em;


}

#logos {
    /*width: 100%;*/
    /*position: relative;*/
}
#cesa-logo {
    left: 1rem;
    z-index: 10;
}
#ut-logo {
    left: 11rem;
    z-index: 9;
}
#sec-two {
        background: black;

}
section h1 {
}
body{
        width: 100vw;

    margin: 0px;
}