body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: IRANSANS;
    src: url(../fonts/IRANSANS.TTF) format("truetype");
}

*{
    font-family: IRANSANS;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    background-color: whitesmoke;
}

/*hr {*/
    /*max-width: 50px;*/
    /*border-width: 3px;*/
    /*border-color: #F05F40;*/
/*}*/

/*hr.light {*/
    /*border-color: #fff;*/
/*}*/

a {
    color: #F05F40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #f05f40;
}


.bg-primary {
    background-color: #F05F40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.bg-gray{
    background-color: #3d3d3d;
    color: #cecece;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

/*::-moz-selection {*/
    /*color: #fff;*/
    /*background: #212529;*/
    /*text-shadow: none;*/
/*}*/

/*::selection {*/
    /*color: #fff;*/
    /*background: #212529;*/
    /*text-shadow: none;*/
/*}*/

/*img::selection {*/
    /*color: #fff;*/
    /*background: transparent;*/
/*}*/

/*img::-moz-selection {*/
    /*color: #fff;*/
    /*background: transparent;*/
/*}*/

.nav-logo {
    width: 20%;

    transition: width 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: 850px) {
    .nav-logo {
        width: 10%;

    }
    .nav-display {
    z-index: -1;
    font-family: 'baloo Tammudu';
    position: absolute;
    left: 8rem;
        display: none;

    }
}

.nav-logo-shrink {
    width: 10%;
}

.nav-display {
    z-index: -1;
    font-family: 'baloo Tammudu';
    position: absolute;
    left: 8rem;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.nav-display-shrinking {
    opacity: 0;
}

.nav-display #dis1 {
    position: relative;
    left: 1rem;
}
.nav-display #dis2 {
    position: relative;
    left: 2rem;
}
.nav-display #dis3 {
    position: relative;
    left: 1rem;
}


#navbarLinks {
    z-index: 10;

}
.extended-nav{

}
.usual-nav {
    display: none;
}
@media only screen and (max-width: 1000px){
    .extended-nav {
        display: none;
    }
    .usual-nav {
        display: inherit;
    }
}

@media only screen and (max-width: 750px){
    .nav-responsive-collapse {
        position: absolute;
        left:90%;
    }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: #fff;
}

.blog{
    cursor: pointer;
    -webkit-box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
    -moz-box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
    box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
}

.blog:hover{
    -webkit-box-shadow: 4px 6px 18px 4px rgb(160, 158, 160);
    -moz-box-shadow: 4px 6px 18px 4px  rgb(160, 158, 160);
    box-shadow: 4px 6px 18px 4px rgb(160, 158, 160);
    transition: all 0.3s ease-in-out;
}

.blog1 a:hover {
    opacity: 0.5;
    text-decoration: none;
}



.column1 {
    padding: 0.5%;

}


.column1::after {
    content: '';
    clear: both;
    display: block;

}
.column1 div {
    position: relative;
    float: left;
    padding: 0;

}

.column1 figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    object-fit: cover;
}
.column1  figure:hover+span {
    bottom: -36px;
    opacity: 1;
}


/* Zoom Out #1 */
.hover03 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 100%;
    height: 300px;
}

.hover03 figure:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}






.modal-body img{
   max-width: 1000px;
}



@media only screen and (max-width: 900px) {

    .modal-body img{
        width: 100%;
    }

}



.blg-img {
    background-image: url(../dev-images/deep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

}

@media only screen and (max-width: 767px) {
    .blg-img {
        height: 200px;
    }
}

.sub {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.sub:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    z-index: 999;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 999;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}






#footer{
    background-color: #00191c;
    /*
      color: white;
      padding-top: 3%;
      height: 250px;
      width: 100%;
    */
}
#footer a{
    color: snow;
}
#footer ul {
    margin: 0 0 1rem 0;

}
#site-map {
    padding: 0;
}
.linkedin {
    color: white;
    padding-left: 8%;

}
.instagram {
    color: white;
    padding-left: 8%;
}

.telegram {
    color: white;
    padding-left: 8%;
}
.twitter {
    color: white;
    padding-left: 8%;
}


.linkedin:hover {
    color: #3a6ee8;
}
.instagram:hover {
    color:  #3a6ee8;
}

.telegram:hover {
    color: #3a6ee8;
}
.twitter:hover {
    color: #3a6ee8;
}



