

body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: IRANSANS;
    src: url(../fonts/IRANSANS.TTF) format("truetype");
}
@font-face {
    font-family:  BTitrBd;
    src: url(../fonts/BTitrBd.ttf) format("truetype");
}
/**{*/
    /*font-family: IRANSANS;*/
/*}*/
.font-farsi{
    font-family: IRANSANS;
    text-align: right;

}
.font-english {
    font-family: "Roboto";
    text-align: left;
}

.font-english-title {
    font-family: "Titan One";
    text-align: left;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    background-color: whitesmoke;
    padding: 0;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40;
}

hr.light {
    border-color: #fff;
}

a {
    color: #F05F40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #f05f40;
}


.bg-primary {
    background-color: #F05F40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.bg-gray{
    background-color: #3d3d3d;
    color: #cecece;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0.5px 0.5px rgba(184, 184, 184, 0.46);

}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;

}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: #fff;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);

}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: #fff;
}

.blog{
    cursor: pointer;
    -webkit-box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
    -moz-box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
    box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);
}

/*.blog:hover{*/
    /*-webkit-box-shadow: 4px 6px 18px 4px rgb(160, 158, 160);*/
    /*-moz-box-shadow: 4px 6px 18px 4px  rgb(160, 158, 160);*/
    /*box-shadow: 4px 6px 5px 9px rgb(160, 158, 160);*/
    /*transition: all 0.1s ease-in-out;*/
/*}*/

.blog1 a:hover {
    opacity: 0.5;
    text-decoration: none;
}



.column1 {
    /*padding: 0.5%;*/

}


.column1::after {
    content: '';
    clear: both;
    display: block;

}
.column1 div {
    position: relative;
    float: left;
    padding: 0;

}

.column1 figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.column1  figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

/*image on post boxes */
.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-image-box {
    height:100%;
    background-color: transparent;
}

#post-info {
    color: gainsboro;
    margin: 1px;
    font-size: .8rem;
    padding: 0;
    font-family: "MS Reference Sans Serif";


}

#post-info a {
    color: gainsboro;
}


.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 1;
}
.author-icon {
    list-style-image: url("../../static/dev-images/icons/icons8-ball-point-pen-16.png")
}

#date-icon span{

}
#tag-icon span{

}


.featured {
    width: 100%;
    height: 130vh;
    background-color: gainsboro;
    margin: 9.15rem 0 7rem;
    padding: 4rem 0 1rem;

}
 .featured a{
    color: grey;
}
.featured-back {


}

@media only screen and (max-width: 750px){
    .post-image-box {
        display: none;
    }

    .post-image {
        display: none;
    }

    .featured .card-text{
        display: none;
    }
    .featured {
        padding: 5rem 0 0;
    }

}
@media only screen and (min-width: 751px) and (max-width: 900px ) {
    .post-image-box {
        display: none;
    }
    .post-image {
        display: none;
    }

    .featured .card-text{
        display: none;
    }

    .featured {
        padding: 0;
        padding-top: 5rem;
    }

}
.featured-head {
    font-family: "Titan One";
    margin-bottom: 0;
    padding: 0;

}
.slider {
    padding: 2rem 0 0;
    margin: 0;

}

.nav-logo {
    width: 20%;

    transition: width 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: 850px) {
    .nav-logo {
        width: 10%;

    }
    .nav-display {
    z-index: -1;
    font-family: 'baloo Tammudu';
    position: absolute;
    left: 8rem;
        display: none;

    }
}

.nav-logo-shrink {
    width: 10%;
}

.nav-display {
    z-index: -1;
    font-family: 'baloo Tammudu';
    position: absolute;
    left: 8rem;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.nav-display-shrinking {
    opacity: 0;
}

.nav-display #dis1 {
    position: relative;
    left: 1rem;
}
.nav-display #dis2 {
    position: relative;
    left: 2rem;
}
.nav-display #dis3 {
    position: relative;
    left: 1rem;
}


#navbarLinks {
    z-index: 10;

}
.extended-nav{

}
.usual-nav {
    display: none;
}
@media only screen and (max-width: 1000px){
    .extended-nav {
        display: none;
    }
    .usual-nav {
        display: inherit;
    }
}

@media only screen and (max-width: 750px){
    .nav-responsive-collapse {
        position: absolute;
        left:90%;
    }
}
.active .n-item {

}

.sidebars {
    margin: .5rem 1rem 0 1rem ;
    border-radius: .5rem;
    /*-webkit-box-shadow: 4px 6px 15px -2px rgba(140,140,140,1);*/
    box-shadow: 4px 6px 8px -5px rgba(140,140,140,1);
    /*box-shadow: 4px 6px 15px -5px rgba(140,140,140,1);*/

}
#latest .sidebars{
    background-color: #ffffff;
    margin: .5rem 1rem 0 1rem ;
    border-radius: .25rem;
    box-shadow: 4px 6px 8px -5px rgba(140,140,140,1);
    padding: 0rem;
}


#latest img {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
#latest h4{
    text-align: center;
}
/*#latest hr{*/
    /*width: 100%;*/
/*}*/






#footer{
    background-color: #00191c;
    /*
      color: white;
      padding-top: 3%;
      height: 250px;
      width: 100%;
    */
}
#footer a{
    color: snow;
}
#footer ul {
    margin: 0 0 1rem 0;

}
#site-map {
    padding: 0;
}
.linkedin {
    color: white;
    padding-left: 8%;

}
.instagram {
    color: white;
    padding-left: 8%;
}

.telegram {
    color: white;
    padding-left: 8%;
}
.twitter {
    color: white;
    padding-left: 8%;
}


.linkedin:hover {
    color: #3a6ee8;
}
.instagram:hover {
    color:  #3a6ee8;
}

.telegram:hover {
    color: #3a6ee8;
}
.twitter:hover {
    color: #3a6ee8;
}

.events {

}


