body,
html {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: IRANSANS;
  src: url(../fonts/IRANSANS.TTF) format("truetype");
}

*{
  font-family: IRANSANS;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.bg-gray{
  background-color: #3d3d3d;
  color: #cecece;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);

  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40 !important;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../dev-images/intro.jpeg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

/*.service-box {*/
  /*max-width: 400px;*/
/*}*/

/*.portfolio-box {*/
  /*position: relative;*/
  /*display: block;*/
  /*max-width: 650px;*/
  /*margin: 0 auto;*/
/*}*/

/*.portfolio-box .portfolio-box-caption {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*text-align: center;*/
  /*opacity: 0;*/
  /*color: #fff;*/
  /*background: rgba(240, 95, 64, 0.9);*/
  /*-webkit-transition: all 0.2s;*/
  /*-moz-transition: all 0.2s;*/
  /*transition: all 0.2s;*/
/*}*/

/*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*width: 100%;*/
  /*transform: translateY(-50%);*/
  /*text-align: center;*/
/*}*/

/*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,*/
/*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {*/
  /*padding: 0 15px;*/
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
/*}*/

/*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {*/
  /*font-size: 14px;*/
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
/*}*/

/*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {*/
  /*font-size: 18px;*/
/*}*/

/*.portfolio-box:hover .portfolio-box-caption {*/
  /*opacity: 1;*/
/*}*/

/*.portfolio-box:focus {*/
  /*outline: none;*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {*/
    /*font-size: 16px;*/
  /*}*/
  /*.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {*/
    /*font-size: 22px;*/
  /*}*/
/*}*/

/*.text-primary {*/
  /*color: #F05F40 !important;*/
/*}*/

/*.btn {*/
  /*font-weight: 700;*/
  /*text-transform: uppercase;*/
  /*border: none;*/
  /*border-radius: 300px;*/
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
/*}*/

/*.btn-xl {*/
  /*padding: 1rem 2rem;*/
/*}*/

/*.btn-primary {*/
  /*background-color: #F05F40;*/
  /*border-color: #F05F40;*/
/*}*/

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active {*/
  /*color: #fff;*/
  /*background-color: #ee4b28 !important;*/
/*}*/

/*.btn-primary:active, .btn-primary:focus {*/
  /*box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;*/
/*}*/
















.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  /*bottom: 30px;*/
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}













#second{
  background-color: #ededed;
  padding-top:5% ;
  padding-bottom:5% ;
}


#third{
  background-color: #ffffff;
  padding-top:5% ;
  padding-bottom:5% ;
}

.PhotoSpaceSecond{
  background-color: #bababa;
  border-radius: 10px 10px 0 0;
  padding: 45% ;
  padding-bottom: 52% ;
  padding-left: 28%;
  height: 200px;
  text-align: center;
  z-index: 1;
}

.frame {
  text-align: center;
  position: relative;
  cursor: pointer;
  perspective: 500px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*
.frame .details {
  width: 100%;
  height: 100%;
  padding: 25% 10%;
  position: absolute;
  content: "";
  top: 0.2%;
  left: 0.2%;
  transform: translate(-50%, -50%) rotateY(90deg);
transform-origin: 50%;
  background: rgba(1, 150, 167, 0.89);
  opacity: 0;
  transition: all 0.4s ease-in;
  border-color: #1db3cc;
  color: white;


}
.frame:hover .details {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(0.8);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(0.8);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(0.8);
  transition: all 200ms ease-in;
  transform: scale(0.8);
  border-color: rgba(29, 179, 204, 0.14);
  opacity: 1;
  color: white;


}
*/

.frame:hover {
  opacity: .8;
}



.PhotoSpaceSecond span{
  margin-bottom: 50%;
  font-size: 35px;
  color: black;
  font-weight: 500;

}

#second .text-card span{
  color: #01bacf;
  font-weight: 400;
  font-size: 90%;
}

#second .text-card h6{
  text-align: left;
  color: #000f11;
  font-weight: bold;
  line-height: 150%;
  font-size: 17px;
}

#second .text-card p{
  text-align: justify;
  color: #8a8a8a;
  font-weight: 500;
  line-height: 130%;
  font-size: 90%;

}

#second .text-card i{
  text-align: justify;
  color: #01bacf;
  font-weight: 500;
  font-size: 90%;
}


#second .text-card a{
  text-align: justify;
  color: #8d9190;
  font-weight: 500;
  font-size: 90%;
}

#second .text-card a:hover{
  text-align: justify;
  color: #01bacf;
  font-weight: 500;
  font-size: 90%;
}



#second .view-all-courses{
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  color: #fff;
}

#second .view-all-courses{
  background: #28c2c9;
  border: 2px solid #28c2c9;
}

#second .view-all-courses:hover{
  background: #32edf6;
  border: 2px solid #32edf6;

  color: white;
}








#third .text-card span{
  color: #01bacf;
  font-weight: 400;
  font-size: 90%;
}

#third .text-card h6{
  text-align: left;
  color: #000f11;
  font-weight: bold;
  line-height: 150%;
  font-size: 17px;
}

#third .text-card p{
  text-align: justify;
  color: #8a8a8a;
  font-weight: 500;
  line-height: 130%;
  font-size: 90%;

}

#third .text-card i{
  text-align: justify;
  color: #01bacf;
  font-weight: 500;
  font-size: 90%;
}


#third .text-card a{
  text-align: justify;
  color: #8d9190;
  font-weight: 500;
  font-size: 90%;
}

#third .text-card a:hover{
  text-align: justify;
  color: #01bacf;
  font-weight: 500;
  font-size: 90%;
}



#third .view-all-courses{
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  color: #fff;
}

#third .view-all-courses{
  background: #28c2c9;
  border: 2px solid #28c2c9;
}

#third .view-all-courses:hover{
  background: #32edf6;
  border: 2px solid #32edf6;

  color: white;
}






#footer{
  background-color: #00191c;
  /*
    color: white;
    padding-top: 3%;
    height: 250px;
    width: 100%;
  */
}

.linkedin {
  color: white;
  padding-left: 8%;

}
.instagram {
  color: white;
  padding-left: 8%;
}

.telegram {
  color: white;
  padding-left: 8%;
}
.twitter {
  color: white;
  padding-left: 8%;
}


.linkedin:hover {
  color: #3a6ee8;
}
.instagram:hover {
  color:  #3a6ee8;
}

.telegram:hover {
  color: #3a6ee8;
}
.twitter:hover {
  color: #3a6ee8;
}



