body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: IRANSANS;
    src: url(../fonts/IRANSANS.TTF) format("truetype");
}

*{
    font-family: IRANSANS;
}


hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40;
}

hr.light {
    border-color: #fff;
}

a {
    color: #F05F40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #f05f40;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0.5px 0.5px rgba(184, 184, 184, 0.46);

}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;

}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: #fff;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);

}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: #fff;
}


.card a {
  transition: .25s all;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s box-shadow;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 50px;
    
}

.card img {
    height: 400px;
}
.card:focus, .card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-inverse .card-img-overlay {
  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85);
}

.card-title {
    padding: 0 10px;
}

.text-muted {
    padding: 0 10px;
}

.card-text {
    padding: 10px;
}

.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 1.4em;
  padding-right: 4.7em;
  background: #009ED8;
  border: none;
  color: white;
  transition: 0.2s;
    width: 100%;
}
.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.button:before {
  background: rgba(0, 0, 0, 0.1);
}
.button:hover {
  background: #0079a5;
}
.button:active,
.button:focus {
  background: #002e3f;
  outline: none;
}
.button {
  min-width: 15em;
}

.download:after {
  content: "\f019";
}
.download:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}



#footer{
    background-color: #00191c;

    /*
      color: white;
      padding-top: 3%;
      height: 250px;
      width: 100%;
    */
}
#footer a{
    color: snow;
}
#footer ul {
    margin: 0 0 1rem 0;

}
#site-map {
    padding: 0;
}
.linkedin {
    color: white;
    padding-left: 8%;

}
.instagram {
    color: white;
    padding-left: 8%;
}

.telegram {
    color: white;
    padding-left: 8%;
}
.twitter {
    color: white;
    padding-left: 8%;
}


.linkedin:hover {
    color: #3a6ee8;
}
.instagram:hover {
    color:  #3a6ee8;
}

.telegram:hover {
    color: #3a6ee8;
}
.twitter:hover {
    color: #3a6ee8;
}

