body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: IRANSANS;
    src: url(../IRANSANS.TTF) format("truetype");
}

*{
    font-family: IRANSANS;
}

body {
    background-color: whitesmoke;
    
}
a {
    color: #F05F40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #f05f40;
}


.bg-primary {
    background-color: #F05F40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.bg-gray{
    background-color: #3d3d3d;
    color: #cecece;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0.5px 0.5px rgba(184, 184, 184, 0.46);

}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;

}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: #fff;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);

}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: #fff;
}

.about-ring {
    background-color: white;
    padding: 20px;
}

.ring-list ul {
  position: relative;
  top: 40px;
  bottom: 10px;
  left: 0px;
  right: 20px;
  overflow: scroll;
  margin: 0 0 .1rem 0;
  padding: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 30rem;
}

.ring-list li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.ring-list li:last-child {
  border-bottom: none;
}
.ring-list li:nth-child(even) {
  background: #ffffff;
}

.line {
    height: 1px;
    background-image: linear-gradient(to right, red , yellow);
}


.post {
    margin-top: 30px;
    margin-bottom: 40px;
    
}

#footer{
    background-color: #00191c;
    /*
      color: white;
      padding-top: 3%;
      height: 250px;
      width: 100%;
    */
}
#footer a{
    color: snow;
}
#footer ul {
    margin: 0 0 1rem 0;

}
#site-map {
    padding: 0;
}
.linkedin {
    color: white;
    padding-left: 8%;

}
.instagram {
    color: white;
    padding-left: 8%;
}

.telegram {
    color: white;
    padding-left: 8%;
}
.twitter {
    color: white;
    padding-left: 8%;
}


.linkedin:hover {
    color: #3a6ee8;
}
.instagram:hover {
    color:  #3a6ee8;
}

.telegram:hover {
    color: #3a6ee8;
}
.twitter:hover {
    color: #3a6ee8;
}



