<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username...">
    <input type="password" name="password" placeholder="password...">
    <input type="submit" value="login">
</form>
</body>
</html>