<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>CESA_blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
{#    <link href="../../../static/css/blog-css.css" rel="stylesheet">#}

    <link href="../../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="../../../static/css/owl.carousel.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Titan+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="../../../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../../../static/css/animate.min.css" rel="stylesheet">

    <link href="../../../static/css/blogpage-css.css" rel="stylesheet">

</head>





<body id="page-top" class="" style="padding: 6rem 0">


<!-- Navigation -->
<nav class="extended-nav navbar navbar-expand-lg nav-pills navbar-light bg-light fixed-top px-2 mb-5" style="position: fixed" id="main-nav">
        <div class="d-inline">
                <div id="logo" class=" pull-left">
                    <img class=" nav-logo pull-left" id="navbar-logo-s" src="../../../static/dev-images/logo.PNG" >
                </div>
                <div id="nav-display" class="fixed-top mt-4 text-left nav-display">
                    <h5 id="dis1" class="" >Computer Engineering Scientific association</h5>
                    <h5 id="dis2"  class="" >University of Tehran</h5>
                    <h5 id="dis3" class="d-block">Collage of Farabi</h5>
                </div>
        </div>
        <div  id="nav-display-shrinked" class="mt-4 text-left nav-display" style="display: none; position: absolute; left:6rem; top: -9px; ">
            <h1 style="font-size: 2rem">CESA</h1>
            <h5> university of tehran, campus of farabi</h5>

        </div>
        <div class="nav-responsive-collapse " style="z-index: 1000">

            <div class=" " id="navbarLinks">
                <ul class="navbar-nav ml-auto pull-right font-english">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<nav class="mb-0 usual-nav font-english navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-english-title" href="#">UTCF CESA</a>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
    </ul>
  </div>
</nav>



<br>


<div class="container mt-5" style=" margin-top: 2rem; direction: rtl;text-align: right">

    <div class="row mt-5">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ post.title }}</h1>

            <!-- Author -->
            <p class="">
                نوشته شده توسط
                <a href="#">{{ post.author.authUser.username }}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>{{ post.publishDate}}</p>

            <hr>

            <!-- Preview Image -->
            <a data-toggle="modal" data-target="#myModal" id="trigger-btn"  class="lightbox" style="cursor: zoom-in">
                <div class="blg-img col-md-12">

                </div>
            </a>

            <div class="modal fade modal-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content mx-auto" style="max-width: 1100px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" >{{ post.title }}</h4>
                        </div>

                        <div class="modal-body mx-auto">
                            <img src="{{ post.previewImage.url }}" >
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content mx-auto" style="max-width: 1100px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" >یادگیری عمیق</h4>
                        </div>

                        <div class="modal-body mx-auto">
                            <img src="../../../static/dev-images/deep.jpg" >
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                            <button type="button" class="btn btn-primary">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>


            <!-- Post Content -->
            <hr>
            <article class="mb-4">{{ post.text }}</article>

            <!-- Comments Form -->
{#            <div class="card my-1">#}
{#                <h5 class="card-header">نظر شما :</h5>#}
{#                <div class="card-body">#}
{#                    <form>#}
{#                        <div class="form-group">#}
{#                            <textarea class="form-control" rows="4" style="resize: none;"></textarea>#}
{#                        </div>#}
{#                        <button type="submit" class="btn sub">ثبت نظر</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
<!--
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>
-->

            <!-- Categories Widget -->
            <aside id="categories" class="sidebars">
                <div class="nav bg-light" style="">
                    <div class="nav-item nav-link active font-english"><strong> Categories </strong></div>

                </div>
                <ul class="list-group list-group-flush" style="background-color:#afafaf">
                    {% for cat in categories %}
                        <li class="list-group-item list-group-item-action justify-content-between" style="background-color: #f2f2f2">
                            <a class="list-group-item-action" href="{% url 'blog:posts-by-category' current_page_index cat.slug %} ">{{ cat.title }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>


{#            <!-- Side Widget -->#}
{#            <div class="card my-4">#}
{#                <h5 class="card-header">Side Widget</h5>#}
{#                <div class="card-body">#}
{#                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!#}
{#                </div>#}
{#            </div>#}

        </div>

    </div>
    <!-- /.row -->

</div>



<!-- Footer -->
     <section id="footer">
         <footer class="font-english">
        <div class="container">
          <div class="row">

            <div  id="" class="  col-md-6" style="color: white">
                <h4 class="" style="margin-top: 4%; margin-bottom: 4%"><strong>SITE MAP</strong></h4>
                <div class="d-flex">
                    <ul class="site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='classes' %}" class="">classes</a></li>
                     <li> <a href="{% url 'journals'%}" class="">journal archive</a></li>
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='up-and-runnings' %}" class="">up and runnings</a></li>
                    <li> <a href="{% url 'blog:blog' %}" class="">blog</a></li>
                </ul>
                 <ul class= "site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='talks' %}" class="">Talks</a></li>
                     <li> <a href="{% url 'rings:ring-profiles' %}" class="">farabi rings</a></li>
                     <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='code-battles' %}" class="">code battles contest</a></li>
                </ul>
                </div>




            </div>
              <div class="col-md-6" style="color: white">
              <h4 style="margin-top: 4%; margin-bottom: 8%">About Farabi CESA</h4>
              <p style="padding-bottom: 16%">CESA stands for Computer Engineering Scientific Association <br>
                            Farabi is a campus of university of Tehran which located in province of Qom.<br>
                            </p>
            </div>

          </div>
        </div>
      </footer>

    </section>



<!-- Bootstrap core JavaScript -->
<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../static/js/wow.min.js"></script>
<script src="../../../static/js/owl.carousel.min.js"></script>
<script src="../../../static/js/magnific-popup.min.js"></script>
<script src="../../../static/js/sticky.js"></script>
<script src="../../../static/js/jquery.easing.min.js"></script>
<script src=../../../static/js/scrollreveal.min.js"></script>

<script src="../../../static/js/bootstrap.bundle.min.js"></script>

<script src="../../../static/js/main.js"></script>

<script src="../../../static/js/creative.js"></script>
<!--  nav bar  -->
<script>
        $(document).on("scroll", function () {
        const navShrinked = $("#nav-display-shrinked");
        const navNorm = $('#nav-display');
        const navLogo = $("#navbar-logo-s");

        if ($(document).scrollTop() > 60) {
            navNorm.addClass("nav-display-shrinking");
            navLogo.addClass("nav-logo-shrink");
            $("#main-nav").css('position', 'fixed');
        } else if ($(document).scrollTop() === 0) {
            navNorm.removeClass("nav-display-shrinking");
        } else if ($(document).scrollTop() < 60) {
            navLogo.removeClass("nav-logo-shrink").delay(1000).triggerHandler("focus")
        }
    });
</script>
<script>
    (function ($) {
        $(function () {
            $.prototype.fullscreen = function ()
            {
                var $e = $(this);
                if (!$e.hasClass('modal-fullscreen')) return;
                bind($e);
            };

            function cssn($e, props) {
                var sum = 0;
                props.forEach(function (p) {
                    sum += parseInt($e.css(p).match(/\d+/)[0]);
                });
                return sum;
            }
            function g($e)
            {
                return {
                    width: cssn($e, ['margin-left', 'margin-right', 'padding-left', 'padding-right', 'border-left-width', 'border-right-width']),
                    height: cssn($e, ['margin-top', 'margin-bottom', 'padding-top', 'padding-bottom', 'border-top-width', 'border-bottom-width']) };

            }
            function calc($e)
            {
                var wh = $(window).height();
                var ww = $(window).width();
                var $d = $e.find('.modal-dialog');
                $d.css('width', 'initial');
                $d.css('height', 'initial');
                $d.css('max-width', 'initial');
                $d.css('margin', '5px');
                var d = g($d);
                var $h = $e.find('.modal-header');
                var $f = $e.find('.modal-footer');
                var $b = $e.find('.modal-body');
                $b.css('overflow-y', 'scroll');
                var bh = wh - $h.outerHeight() - $f.outerHeight() - ($b.outerHeight() - $b.height()) - d.height;
                $b.height(bh);
            }
            function bind($e)
            {
                $e.on('show.bs.modal', function (e) {
                    var $e = $(e.currentTarget).css('visibility', 'hidden');
                });
                $e.on('shown.bs.modal', function (e) {
                    calc($(e.currentTarget));
                    var $e = $(e.currentTarget).css('visibility', 'visible');
                });
            }
            $(window).resize(function () {
                calc($('.modal.modal-fullscreen.in'));
            });
            bind($('.modal-fullscreen'));
        });
    })(jQuery);
</script>









</body>

</html>
