{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CESA_blog</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Titan+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">


    <!-- Plugin CSS -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog-css.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">

</head>


<body id="page-top " class="p-0 m-0">
<script type="javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

<!-- Navigation -->
<nav class="extended-nav navbar navbar-expand-lg nav-pills navbar-light bg-light fixed-top px-2" style="position: fixed" id="main-nav">
        <div class="d-inline">
                <div id="logo" class=" pull-left">
                    <img class=" nav-logo pull-left" id="navbar-logo-s" src="../../../static/dev-images/logo.PNG" >
                </div>
                <div id="nav-display" class="fixed-top mt-4 text-left nav-display">
                    <h5 id="dis1" class="" >Computer Engineering Scientific association</h5>
                    <h5 id="dis2"  class="" >University of Tehran</h5>
                    <h5 id="dis3" class="d-block">Collage of Farabi</h5>
                </div>
        </div>
        <div  id="nav-display-shrinked" class="mt-4 text-left nav-display" style="display: none; position: absolute; left:6rem; top: -9px; ">
            <h1 style="font-size: 2rem">CESA</h1>
            <h5> university of tehran, campus of farabi</h5>

        </div>
        <div class="nav-responsive-collapse " style="z-index: 1000">

            <div class=" " id="navbarLinks">
                <ul class="navbar-nav ml-auto pull-right font-english">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<nav class="mb-0 usual-nav font-english navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-english-title" href="#">UTCF CESA</a>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
    </ul>
  </div>
</nav>



<div class="featured" >
    <div class="featured-head text-center">
    <h1>Featured contents</h1>

    </div>
    <section id="featured-events" class="d-block card-deck text-right slider">
       {% for feat in posts_featured %}
            <div id="featured-card1" class="card">
                <img class="card-img-top"  src="{{ feat.previewImage.url }}" alt="featured content">
            <div class="card-body " >
              <h2 class="card-title  {% if post.language == 'fa' %} font-farsi {% else %} font-english {% endif %}">
                  <strong>
                     <a href="{% url 'blog:post-view' feat.slug%}">
                        {{ feat.title }}
                    </a>
                  </strong>
              </h2>
              <p id="matlab" class="card-text {% if post.language == 'fa' %} font-farsi {% else %} font-english {% endif %}">
                  {{ feat.previewText|linebreaksbr }}
              </p>
            </div>
          </div>
      {% endfor %}
    </section>
</div>
<div class=" px-5" style="text-align: right;">

    <div class="row font-english">
        <div class="col-md-4 my-4 ">
            <aside id="latest" class="mx-0">
                <div class="sidebars">
                    <h4 class="font-english-title">Up Coming Event</h4>
                    <hr>
                    <img class="" src="{{ latest_event.previewImage.url }}">
                </div>
            </aside>
            <aside id="categories" class="sidebars">
                <div class="nav bg-light" style="">
                    <div class="nav-item nav-link active font-english"><strong> Categories </strong></div>

                </div>
                <ul class="list-group list-group-flush" style="background-color:#afafaf">
                    {% for cat in categories %}
                        <li class="list-group-item list-group-item-action justify-content-between" style="background-color: #f2f2f2">
                            <a class="list-group-item-action" href="{% url 'blog:posts-by-category' current_page_index cat.slug %} ">{{ cat.title }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div class="col-md-8  my-4">
            <div class="row mb-5">
                {% for post in posts_list %}
                    <div class="py-2 {% if post.language == 'fa' %} font-farsi {% else %} font-english {% endif %}">
                        <div class="row blog px-2 py-2 bg-white shadow-sm rounded ">
                            <div class="col-md-9 col-sm-12 float-md-left">
                                <div class="p-3 p-sm-4">
                                    <div class="mb-1">
                                        <h3 class="mb-1">
                                            <strong>
                                                <a href="#" class="text-dark">{{post.title}}</a>
                                            </strong>
                                        </h3>

                                        <div id="post-info" class="text-right mb-4">
                                            <ul class="author-icon {% if post.language == 'fa' %} justify-content-end {% else %} justify-content-start {% endif %}">
                                                <il class="author-icon">
                                                    <a href="">{{ post.author.authUser.first_name }} {{ post.author.authUser.last_name}}</a>
                                                    <img src="{% static 'dev-images/icons/icons8-ball-point-pen-16.png' %}">
                                                </il>
                                                <il>
                                                    {{ post.publishDate }}
                                                    <img src="{% static 'dev-images/icons/icons8-today-16.png' %}" style="position: relative">

                                                </il>
                                            </ul>
                                        </div>
                                        <p class="mb-0 ">
                                            {{ post.previewText|linebreaksbr }}
                                        </p>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}" class="text-success mt-0">{% if post.language == 'fa' %} بیشتر بخوانید {% else %} read more {% endif %}</a>
                                </div>
                            </div>
                            <div class="post-image-box p-0 mt-0 col-md-3 col-sm-12  float-md-left ">
                                <img src="{{ post.previewImage.url }}" class="post-image">
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<nav class="font-english" id="paginator" aria-label="Page navigation example">
  <ul id="pages-list" class="pagination justify-content-center">
    <li class="page-item justify-content-start">
      <a  id="prev " class="page-link {% if current_page_index == 1 %} text-muted {% endif %}" href="{% if current_category_selected != None %}
                                            {% url 'blog:posts-by-category' previous_page_index current_category_selected %}
                                            {% else %}
                                            {% url 'blog:home' previous_page_index%}
                                            {% endif %}"
                                            tabindex="-1">Previous</a>
    </li>
    <li class="page-item justify-content-end">
        <a id="next" class="page-link" href="{% if current_category_selected != None %}
                                            {% url 'blog:posts-by-category' next_page_index current_category_selected %}
                                            {% else %}
                                            {% url 'blog:home' next_page_index%}
                                            {% endif %}">Next</a>
    </li>
    </ul>

</nav>

                </div>

      </div>
      </div>
     <section id="footer">
         <footer class="font-english">
        <div class="container">
          <div class="row">

            <div  id="" class="  col-md-6" style="color: white">
                <h4 class="" style="margin-top: 4%; margin-bottom: 4%"><strong>SITE MAP</strong></h4>
                <div class="d-flex">
                    <ul class="site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='classes' %}" class="">classes</a></li>
                     <li> <a href="{% url 'journals'%}" class="">journal archive</a></li>
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='up-and-runnings' %}" class="">up and runnings</a></li>
                    <li> <a href="{% url 'blog:blog' %}" class="">blog</a></li>
                </ul>
                 <ul class= "site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='talks' %}" class="">Talks</a></li>
                     <li> <a href="{% url 'rings:ring-profiles' %}" class="">farabi rings</a></li>
                     <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='code-battles' %}" class="">code battles contest</a></li>
                </ul>
                </div>




            </div>
              <div class="col-md-6" style="color: white">
              <h4 style="margin-top: 4%; margin-bottom: 8%">About Farabi CESA</h4>
              <p style="padding-bottom: 16%">CESA stands for Computer Engineering Scientific Association <br>
                            Farabi is a campus of university of Tehran which located in province of Qom.<br>
                            </p>
            </div>

          </div>
        </div>
      </footer>

    </section>




<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/sticky.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/creative.js' %}"></script>
<script type="javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.fittext.js' %}"></script>
<script src="{% static 'js/jquery.lettering.js' %}"></script>
<script src="{% static 'js/jquery.textillate.js' %}"></script>

</body>
<script>






    let isSmall = false;
    $(document).on('ready',()=>{

        if ($(window).width() > 650) {
            isSmall = true
        }

    });


    $(document).on("scroll", function () {
        const navShrinked = $("#nav-display-shrinked");
        const navNorm = $('#nav-display');
        const navLogo = $("#navbar-logo-s");

        if ($(document).scrollTop() > 60) {
            navNorm.addClass("nav-display-shrinking");
            navLogo.addClass("nav-logo-shrink");
            $("#main-nav").css('position', 'fixed');
        } else if ($(document).scrollTop() === 0) {
            navNorm.removeClass("nav-display-shrinking");
        } else if ($(document).scrollTop() < 60) {
            navLogo.removeClass("nav-logo-shrink").delay(1000).triggerHandler("focus")
        }
    });

    $('.slider').slick({

        dots: true,
        autoplay:true,
        speed:600,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        nextArrow: " ",
        prevArrow: " ",
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 900,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }

        ]

    });




</script>

</html>
