<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> hello this is blog home page</h1>
    {% if user.authUser.is_authenticated %}
        <h1>we know you're {{ user.authUser.username.upper }}</h1>
        <a href="{% url 'blog:new-post' %}">publish your post here</a>
    {% endif %}
    <a href="http://localhost:8000/admin">go for admin</a>
    {% for post in posts_list %}
        <div class="post-container">
            <div id="{% if post.type == "event" %}event{% else %}post{% endif %}">
                <ul>
                    <li>title: {{ post.title }}</li>
                    <li>publish date: {{ post.publishDate }}</li>
                    <a href="{% url 'blog:post-view' post.slug %}">see whole here</a>
                </ul>
            </div>
        </div>
    {% endfor %}
</body>
</html>