<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<section id="intro">

</section>
<section id="mags" class="container card-deck">

</section>
<script type="javascript" src="{% static 'js/jquery.min.js' %}"></script>
</body>
</html>