<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ring</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="../../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Titan+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">  <link href="../../../static/css/owl.carousel.css" rel="stylesheet">
    <link href="{% static 'css/blog-css.css' %}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="../../../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../../../static/css/animate.min.css" rel="stylesheet">

    <link href="../../../static/css/magazine.css" rel="stylesheet">

</head>

<body id="page-top">
     <!-- Navigation -->
<nav class="extended-nav navbar navbar-expand-lg nav-pills navbar-light bg-light fixed-top px-2" style="position: fixed" id="main-nav">
        <div class="d-inline">
                <div id="logo" class=" pull-left">
                    <img class=" nav-logo pull-left" id="navbar-logo-s" src="../../../static/dev-images/logo.PNG" >
                </div>
                <div id="nav-display" class="fixed-top mt-4 text-left nav-display">
                    <h5 id="dis1" class="" >Computer Engineering Scientific association</h5>
                    <h5 id="dis2"  class="" >University of Tehran</h5>
                    <h5 id="dis3" class="d-block">Collage of Farabi</h5>
                </div>
        </div>
        <div  id="nav-display-shrinked" class="mt-4 text-left nav-display" style="display: none; position: absolute; left:6rem; top: -9px; ">
            <h1 style="font-size: 2rem">CESA</h1>
            <h5> university of tehran, campus of farabi</h5>

        </div>
        <div class="nav-responsive-collapse " style="z-index: 1000">

            <div class=" " id="navbarLinks">
                <ul class="navbar-nav ml-auto pull-right font-english">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<nav class="mb-0 usual-nav font-english navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-english-title" href="#">UTCF CESA</a>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'rings:mainPage' %}">Rings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'journals' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
    </ul>
  </div>
</nav>

      <div class="container" style="margin-top: 100px;">
          <div style="">
                 <h2>Magazine Archive</h2>
             </div>
            <div class="mb-5 row card-deck">
                {% for journal in journals_list %}
                    <div class="col-md-3">

                        <!-- Card -->
              <article class="card animated fadeInLeft">
                <img class="card-img-top img-responsive" src="{{ journal.coverImage.url }}" alt="Deer in nature" />
                <div class="card-block">
                  <h6 class="text-muted mt-1">{{ journal.releaseDate }}</h6>
                  <a href="#"><button class="button  download">Download</button></a>
        </div>
      </article ><!-- .end Card -->

                </div>
                {% endfor %}

      </div>
      </div>
     <section id="footer">
         <footer>
        <div class="container">
          <div class="row">

            <div  id="" class="  col-md-6" style="color: white">
                <h4 class="" style="margin-top: 4%; margin-bottom: 4%"><strong>SITE MAP</strong></h4>
                <div class="d-flex">
                    <ul class="site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='classes' %}" class="">classes</a></li>
                     <li> <a href="{% url 'journals'%}" class="">journal archive</a></li>
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='up-and-runnings' %}" class="">up and runnings</a></li>
                    <li> <a href="{% url 'blog:blog' %}" class="">blog</a></li>
                </ul>
                 <ul class= "site-map" style="">
                    <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='talks' %}" class="">Talks</a></li>
                     <li> <a href="{% url 'rings:ring-profiles' %}" class="">farabi rings</a></li>
                     <li> <a href="{% url 'blog:posts-by-category-notIndexed' cat_slug='code-battles' %}" class="">code battles contest</a></li>
                </ul>
                </div>




            </div>
              <div class="col-md-6" style="color: white">
              <h4 style="margin-top: 4%; margin-bottom: 8%">About Farabi CESA</h4>
              <p style="padding-bottom: 16%">CESA stands for Computer Engineering Scientific Association <br>
                            Farabi is a campus of university of Tehran which located in province of Qom.<br>
                            for more information about events held by us visit our blog

                            </p>
            </div>

          </div>
        </div>
      </footer>

    </section>

<!-- Bootstrap core JavaScript -->
<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../static/js/sticky.js"></script>
<script src="../../../static/js/jquery.easing.min.js"></script>
<script src=../../../static/js/scrollreveal.min.js"></script>
<script>
        $(document).on("scroll", function () {
        const navShrinked = $("#nav-display-shrinked");
        const navNorm = $('#nav-display');
        const navLogo = $("#navbar-logo-s");

        if ($(document).scrollTop() > 60) {
            navNorm.addClass("nav-display-shrinking");
            navLogo.addClass("nav-logo-shrink");
            $("#main-nav").css('position', 'fixed');
        } else if ($(document).scrollTop() === 0) {
            navNorm.removeClass("nav-display-shrinking");
        } else if ($(document).scrollTop() < 60) {
            navLogo.removeClass("nav-logo-shrink").delay(1000).triggerHandler("focus")
        }
    });
</script>
</body>

</html>
