<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add post</title>
</head>
<body>
<h1> hello {{ user.username }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = submit value="post">
</form>
</body>
</html>