<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.tilte }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <img src={{ post.previewImage.url }}>
    <p>{{ post.text|linebreaksbr }}</p>
</body>
</html>